!!! 5
html(lang= 'en')
	head
		meta(charset= 'utf-8')
		title= config.title
		meta(name= 'description', content= config.description)
		link(rel= 'stylesheet', href= '/style.css')
	body
		header
			a(href= '/')
				h1= config.title
			nav 
				!= snippet('menu')
		.content
			!= body
		footer 
			!=snippet('footer')